.center {
    margin-left: auto;
    margin-right: auto;
}

.like-font{
    font-size: 13px;
}

.pic-set {
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-decoration: none;
}


.comment-font{
    font-size: 14px;
}

.comment-like {
    margin-left: 0rem;
    padding: 0px;
    margin: 0px;
}

.total-comment {
    font-size: 12px;
    margin-left: 0.5rem;
    opacity: 0.5;
}

.time-oppacity {
    font-size: 12px;
    opacity: 0.5;
}

.comment-oppacity {
    opacity: 0.75;
    font-size: 15px;
    margin-left: 0.5rem;
}

.snap-name {
    font-size: 11px;
    margin-top: 0.5rem;
    opacity: 0.95;
}

.follow {
    color: #0095f6;
    font-size: 15px;
    opacity: 0.8;
}

